%form{ :action => "/login", :method => "post" }
  %label Username
  %input#username{ name: "username", type: "text"}
  %label Password
  %input#password{ name: "password", type: "password"}
  %button.pure-button.pure-button-primary{ :type => "submit" } Submit

%p= @mess